RESEND_API_KEY=re_your_new_resend_api_key_here
FROM_EMAIL=Zavora Support <support@zavorafashion.com>
WELCOME_EMAIL=Zavora Fashion <hello@zavorafashion.com>
PASSWORD_RESET_EMAIL=Zavora Support <support@zavorafashion.com>
ORDER_FROM_EMAIL=Zavora Orders <order@zavorafashion.com>
TRACKING_FROM_EMAIL=Zavora Tracking <tracking@zavorafashion.com>
RETURNS_FROM_EMAIL=Zavora Returns <returns@zavorafashion.com>
LEGAL_FROM_EMAIL=Zavora Legal <legal@zavorafashion.com>
INFO_FROM_EMAIL=Zavora Info <info@zavorafashion.com>
HELP_FROM_EMAIL=Zavora Help <help@zavorafashion.com>
